body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none; /* Убираем маркеры */
}

.link {
  text-decoration: none;
}

ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

a:not(.logo):hover,
a:not(.logo):focus {
  color: #2196f3;
  fill: #2196f3;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

/* HEADER */

.nav-list-link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;

  color: #212121;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #2196f3;
}

.contacts-list-link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;

  color: #757575;

  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  position: relative;
}

.active {
  color: #2196f3;
}

.nav-list-link.active::after {
  position: absolute;
  bottom: -42px;
  content: "";
  display: block;

  background: currentColor;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.nav-list-link::after {
  position: absolute;
  bottom: -42px;
  content: "";

  display: block;

  background: transparent;
  border-radius: 2px;
  height: 4px;
  width: 100%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover:after,
.nav-list-link:focus:after {
  opacity: 1;
  background: #2196f3;
}

.contact-list {
  display: flex;
}

.contacts-svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  margin-left: auto;
  fill: currentColor;
}

.contacts-svg-phone {
  margin-right: 10px;

  fill: currentColor;
  width: 10px;
  height: 16px;
}

.tel {
  margin-left: 50px;
  margin-right: 0px;
}

.mail {
  margin-left: auto;
}

/* END HEADER */

/* FOOTER */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-on-black {
  color: #ffffff;
  padding-bottom: 20px;
  display: block;
}

.adress {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.contacts-footer-link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.adress {
  margin-bottom: 9px;
  display: block;
}

.contacts-footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-list {
  display: flex;
}

.footer .container {
  display: flex;
}

.footer-left {
  padding-right: 70px;
}

.footer-right {
  /* margin-right: 93px; */
  margin-top: 12px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-right-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.social-list-icon-footer {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background: #2196f3;
}

.footer-form-side {
  margin-top: 12px;
  margin-right: 0px;
  margin-left: auto;
}

.footer-form-box {
  display: flex;
}

.footer-form-input {
  margin-right: 12px;

  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}

.footer-form-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-side input[type="email"] {
  padding-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: #fff;
}

.footer-form-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.footer-form-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  width: 200px;
  height: 50px;

  border: none;
  cursor: pointer;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding-left: 29px;
}

.icon-send-btn {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/*  END FOOTER */

/* Portfolio page */

/* Portfolio section navigation */

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav-portfolio-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  border: none;
  background-color: #f5f4fa;
  cursor: pointer;

  padding: 6px 22px;
  margin-bottom: 50px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-portfolio-btn:hover,
.nav-portfolio-btn:focus {
  color: #ffffff;
  background: #2196f3;
  /* shadow-middle */

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-nav-list {
  display: flex;
  justify-content: center;
}

.portfolio-nav-list-item:not(:last-child) {
  margin-right: 8px;
}

/* End portfolio section navigation */

/* img-links-portfolio */

.project-box {
  padding: 20px 24px;
}

.porfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-img-list-item {
  margin: 15px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;

  margin-bottom: 4px;
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.portfolio-img-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.556;
  /* or 156% */

  letter-spacing: 0.03em;

  color: #ffffff;
  padding: 24px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  left: 0;
  top: 0;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(100%);
}

.portfolio-img-links:hover .portfolio-img-desc,
.portfolio-img-links:focus .portfolio-img-desc {
  transform: translateY(0);
}

.project-mini-desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: #757575;
}

.portfolio-img-links {
  width: 100%;
  height: 100%;
  display: block;
}

.portfolio-img-links:focus,
.portfolio-img-links:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* End img-links-portfolio */

/* End Portfolio page */

/* Main page */

/* HERO */

.section-hero {
  margin: 0 auto;
  max-width: 1600px;
  background: #c4c4c4;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/hero.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hero-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  width: 696px;

  margin-bottom: 30px;
}

.section-hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  justify-content: center;
}

.hero-btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  padding: 10px 32px;

  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: transparent;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* END HERO */

/* Properties */

.our-properties {
  padding-top: 94px;
  padding-bottom: 94px;
}

.properties-svg {
  width: 65px;
  height: 70px;
  margin: 25px 102px;
}
.properties-svg-box {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.properties-list {
  display: flex;
  margin: -15px;
}

.properties-list-item {
  margin: 15px;
  width: 270px;
}
.prop-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
  margin-bottom: 10px;
}

.prop-desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

/* End Properties */

/* What we are doing */

.what-we-are-doing {
  padding-bottom: 94px;
}

.what-we-are-doing-list {
  display: flex;
  margin: -15px;
}

.tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.what-we-are-doing-tittle {
  margin-bottom: 50px;
}

.what-we-are-doing-item {
  position: relative;
  margin: 15px;
}

.what-we-are-doing-desc {
  bottom: 0%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  padding: 27px;

  position: absolute;
}

/* End What we are doing */

/* Our team */

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team-tittle {
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
  margin: -15px;
}

.our-team-list-item {
  margin: 15px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.people-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-top: 30px;
  margin-bottom: 10px;
}

.people-desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;

  margin-bottom: 16px;
}

/* End Our team */

/* Our clients */

.our-clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.our-clients-tittle {
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
  justify-content: space-between;
}

.our-clients-list-link {
  display: flex;
  height: 90px;
  width: 170px;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo1-svg {
  height: 49px;
  width: 44px;
  fill: currentColor;
}

.logo2-svg {
  height: 52px;
  width: 40px;
  fill: currentColor;
}

.logo3-svg {
  height: 42px;
  width: 41px;
  fill: currentColor;
}

.logo4-svg {
  height: 42px;
  width: 79px;
  fill: currentColor;
}

.logo5-svg {
  height: 47px;
  width: 59px;
  fill: currentColor;
}

.logo6-svg {
  height: 45px;
  width: 88px;
  fill: currentColor;
}

/* End our clients */

/* End Main page */

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.close-btn-svg {
  height: 11px;
  width: 11px;
}

.modal-close-btn:hover .close-btn-svg,
.modal-close-btn:focus .close-btn-svg {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.form-group-modal {
  padding: 40px;
}

.modal-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 12px;
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.modal-input-label {
  margin-bottom: 4px;
}

.modal-input-area {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;

  color: #212121;

  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding-left: 42px;

  cursor: pointer;

  transition: fill 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-label {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-input-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;

  margin-bottom: 4px;
}

.modal-textarea {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;

  color: #212121;

  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;

  margin-bottom: 20px;

  padding: 16px;

  cursor: pointer;

  transition: fill 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn {
  align-self: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  letter-spacing: 0.06em;

  cursor: pointer;

  color: #ffffff;
}

.icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 15px;
  transform: translateY(2px);
  fill: #212121;

  transition: fill 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-area:focus ~ .icon {
  fill: #2196f3;
}

.modal-input-area:focus,
.modal-textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.conf-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.conf-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
}

.icon-check {
  width: 16px;
  height: 15px;
  background-size: contain;
  fill: transparent;

  border: 2px solid #212121;
  border-radius: 2px;

  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conf-checkbox:checked ~ .icon-check {
  background-color: #2196f3;
  fill: #2196f3;
  border: transparent;
}

/* End modal */
